<section class="about-us">
  <div class="container about-container">
    <h2 id="about-us" class="section-title">About us</h2>
    <p class="about-intro">
      Welcome to Sayorama - a passionate Ukrainian cross-functional team
      dedicated to building digital products that matter.
    </p>
    <p class="about-story">
      What started as a small pet project, driven by the idea of helping small
      businesses communicate better, has grown into a mission.
    </p>

    <p class="about-mission">
      Today, we design and develop intuitive, impactful digital solutions that
      don't just make life easier - they have the power to reshape the way
      people connect, collaborate, and grow.
    </p>
    <h3 class="team-title">Our team members</h3>
    <ul class="team-list">
      <li class="role-card">
        <div class="img-thumb">
          <img src="./img/about-us/android.svg" alt="android developer" />
        </div>
        <h4 class="team-role">Android developer</h4>
        <p class="role-description">
          "I see challenges as fuel for building trustworthy solutions". Well,
          developers write code—they don't have time for idle chatter!
        </p>
      </li>
      <li class="role-card">
        <div class="img-thumb">
          <img src="./img/about-us/designer.svg" alt="ux/ui designer" />
        </div>
        <h4 class="team-role">UX/UI designer</h4>
        <p class="role-description">
          "Anyone can play around with fonts, but turning chaos into a
          convenient user experience is my true talent and superpower as a
          systematic UX/UI designer."
        </p>
      </li>
      <li class="role-card">
        <div class="img-thumb">
          <img src="./img/about-us/frontend.svg" alt="frontend developer" />
        </div>
        <h4 class="team-role">Frontend developer</h4>
        <p class="role-description">
          "We bring pixels to life and turn code into magic. Your website looks
          stunning and performs flawlessly on every device"
        </p>
      </li>
      <li class="role-card">
        <div class="img-thumb">
          <img src="./img/about-us/PM.svg" alt="project manager" />
        </div>
        <h4 class="team-role">Project manager</h4>
        <p class="role-description">
          "I love it when things get done" Well, you understand that our PM only
          talks about business, and that's why things almost always get done
        </p>
      </li>
      <li class="role-card">
        <div class="img-thumb">
          <img src="./img/about-us/QA.svg" alt="QA tester" />
        </div>
        <h4 class="team-role">QA tester</h4>
        <p class="role-description">
          "QA be like: We don't break the app — we just click buttons in ways no
          one ever expected"
        </p>
      </li>
      <li class="role-card">
        <div class="img-thumb">
          <img src="./img/about-us/iOs.svg" alt="iOS developer" />
        </div>
        <h4 class="team-role">IOS developer</h4>
        <p class="role-description">
          Mobile development for the iOS platform is carried out using the Swift
          programming language
        </p>
      </li>

      <li class="role-card">
        <div class="img-thumb">
          <img src="./img/about-us/backend.svg" alt="backend developer" />
        </div>
        <h4 class="team-role">Backend developer</h4>
        <p class="role-description">
          Server-side logic, databases, and APIs are developed to power
          application functionality and performance.
        </p>
      </li>

      <li class="role-card">
        <div class="img-thumb">
          <img src="./img/about-us/busines-analyst.svg" alt="" />
        </div>
        <h4 class="team-role">Business analyst</h4>
        <p class="role-description">
          Business needs are identified and translated into clear requirements
          to align product development with client goals.
        </p>
      </li>

      <li class="role-card">
        <div class="img-thumb">
          <img src="./img/about-us/DevOps.svg" alt="" />
        </div>
        <h4 class="team-role">DevOps engineer</h4>
        <p class="role-description">
          It is almost impossible to explain in words what I do, but behind the
          complex terminology lies a fast, well-coordinated network of
          interrelationships between the internal processes of the project.
        </p>
      </li>
    </ul>
    <button class="more-btn" type="button">
      <span class="more-btn__text">More about our team</span>
      <img class="arrow" src="./img/about-us/arrow-down-fill.svg" alt="arrow" />
    </button>
  </div>
</section>
