<section class="banner">
  <div class="container">
    <img
      class="banner-img"
      src="../img/banner/3d-render-todo.png"
      alt="3d-render-todo"
    />
    <p class="banner-text">
      Be part of the next game-changer - fill in the form and invest in Sayorama
      today.
    </p>
    <a class="form-link" href="#">
      <div class="form-link__wrapper">
        <span class="form-link__text">Go to form</span>
        <img
          class="form-link__icon"
          src="../img/hero/Ads-click.svg"
          alt="arrow_pointer"
        />
      </div>
    </a>
  </div>
</section>
