<section id="career" class="career">
  <div class="container">
    <h2 class="career-title">Career in Our Company</h2>
    <div class="careers-intro">
      <p class="careers-intro__mission">
        We are always on the lookout for talented and motivated people who want
        to make an impact and boost their skills
      </p>
      <p class="careers-intro__audience">
        Whether you're a junior specialist eager to gain hands-on,
        corporate-like experience, or a mid-to-senior professional ready to
        experiment with bold ideas and innovative techniques - there's a place
        for you at Sayorama
      </p>
    </div>
    <h2 class="vacancy-title">We are looking for:</h2>
    <div class="careers-container">
      <!-- Левая колонка -->
      <ul class="vacancy-list">
        <li data-vacancy="python" class="vacancy-list-item active">
          <h3 class="vacancy-list-item__title">Backend Python Developer</h3>
          <p class="vacancy-list-item__description">Part-time.</p>
        </li>
        <li data-vacancy="react" class="vacancy-list-item">
          <h3 class="vacancy-list-item__title">Frontend React Developer</h3>
          <p class="vacancy-list-item__description">Part-time.</p>
        </li>
        <li data-vacancy="flutter" class="vacancy-list-item">
          <h3 class="vacancy-list-item__title">Android Flutter Developer</h3>
          <p class="vacancy-list-item__description">Part-time.</p>
        </li>
        <li data-vacancy="marketing" class="vacancy-list-item">
          <h3 class="vacancy-list-item__title">Marketing Specialist</h3>
          <p class="vacancy-list-item__description">Part-time.</p>
        </li>
      </ul>

      <!-- Правая колонка -->
      <div class="vacancy-details">
        <div class="vacancy-content active" id="python">
          <p class="vacancy-content__description">
            To strengthen our backend team, we are looking for a pre-mid-level
            developer to gain invaluable experience on a real project.
            <br /><br />
            We would also welcome an experienced mentor to advise our backend
            developers on a permanent basis or for several sessions
          </p>
          <ul class="requirements">
            <li class="requirements-item">
              <img src="./img/career/Python.svg" alt="python" />
            </li>
            <li class="requirements-item">
              <img src="./img/career/FastAPI.svg" alt="FastAPI" />
            </li>
            <li class="requirements-item">
              <img src="./img/career/Git.svg" alt="Git" />
            </li>
          </ul>
        </div>

        <div class="vacancy-content" id="react">
          <p class="vacancy-content__description">
            lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam
          </p>
        </div>

        <div class="vacancy-content" id="flutter">
          <p class="vacancy-content__description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum
            iusto quod libero fugiat, reprehenderit ipsam earum consequatur,
            harum enim eveniet deleniti perferendis? Asperiores possimus ex enim
            corporis neque fuga quibusdam?
          </p>
        </div>

        <div class="vacancy-content" id="marketing">
          <p class="vacancy-content__description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi eum
            sit fugiat maxime deleniti at, aperiam porro minus. Soluta, error
            repellat architecto autem perferendis fugit atque quo cumque eaque
            adipisci.
          </p>
        </div>
        <div class="invitation">
          <p class="invitation__text">
            Come build the future of business communication with us Fill out the
            form below and become part of our team
          </p>
          <a href="#" class="invitation__link">
            <img
              class="invitation__icon"
              src="./img/career/arrow.svg"
              alt="link arrow"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
