<section class="demo">
  <div class="container">
    <div id="demo" class="content-wrapper">
      <div class="play-btn-wrapper">
        <button type="button" class="play-btn">
          <img class="icon" src="./img/demo/play-btn.svg" alt="play" />
        </button>
        <p class="text">Watch our product demo</p>
      </div>
      <div class="player-wrapper">
        <div class="video-placeholder">
          <img class="logo-icon" src="./img/demo/Logo.svg" alt="logo image" />
        </div>

        <iframe
          class="visually-hidden video-player"
          src="https://www.youtube.com/embed/xjHmXq0wdl4"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        >
        </iframe>
      </div>
    </div>
  </div>
</section>
