<section class="features" id="features">
  <div class="container">
    <h2 class="features-title">
      Our product's Key Features & Differentiation:
    </h2>
    <ul class="features-list">
      <li class="features-item">
        <img
          class="features-item-icon"
          src="./img/features/encrypted.svg"
          alt="encrypted"
        />
        <div class="features-item-info">
          <h3 class="features-item-title">
            1. Enterprise-Grade Security & Data Control
          </h3>
          <p class="features-item-description">
            Full control over company data and storage options
          </p>
          <p class="features-item-description">
            Secret chat functionality for confidential discussions
          </p>
          <p class="features-item-description">
            Role-based access to grant appropriate permissions
          </p>
        </div>
      </li>
      <li class="features-item">
        <img
          class="features-item-icon"
          src="./img/features/gear.svg"
          alt="gear"
        />
        <div class="features-item-info">
          <h3 class="features-item-title">
            2. Integrated Business Tools for Productivity
          </h3>
          <p class="features-item-description">
            Built-in calendar and task tracking system
          </p>
          <p class="features-item-description">
            AI-powered assistant for automated responses and scheduling
          </p>
          <p class="features-item-description">
            Notification on keywords, filtering messages by keywords
          </p>
        </div>
      </li>
      <li class="features-item">
        <img
          class="features-item-icon"
          src="./img/features/networking.svg"
          alt="networking"
        />
        <div class="features-item-info">
          <h3 class="features-item-title">
            3. Smooth Communication & Organization
          </h3>
          <p class="features-item-description">
            Text, voice, and video messaging. Ability to send
            images/videos/links and other standard media.
          </p>
          <p class="features-item-description">
            Private and group chats for various internal discussions. Ability to
            sort your chats using separate topic-based tabs
          </p>
          <p class="features-item-description">
            Required news department/team-wide channels
          </p>
        </div>
      </li>

      <li class="features-item">
        <img
          class="features-item-icon"
          src="./img/features/modules.svg"
          alt="modules"
        />
        <div class="features-item-info">
          <h3 class="features-item-title">
            4. A Solution Designed for Small Businesses
          </h3>
          <p class="features-item-description">
            Eliminates the need for multiple third-party tools
          </p>
          <p class="features-item-description">
            Customizable interface to match company branding and workflow needs
          </p>
          <p class="features-item-description">
            Combines communication, task management, and scheduling in one
            secure platform
          </p>
        </div>
      </li>
    </ul>
    <button type="button" class="features-button">More details</button>
  </div>
</section>
