<nav id="floating-nav" class="hidden floating-nav">
  <ul class="nav-list">
    <li class="nav-item">
      <a href="#about-us" class="nav-link">About us</a>
    </li>
    <li class="nav-item">
      <a href="#product" class="nav-link">Products</a>
    </li>
    <li class="nav-item">
      <a href="#demo" class="nav-link">Demo</a>
    </li>
    <li class="nav-item">
      <a href="#investments" class="nav-link">Invest</a>
    </li>
    <li class="nav-item">
      <a href="#partnership" class="nav-link">Partnership</a>
    </li>
    <li class="nav-item">
      <a href="#career" class="nav-link">Career</a>
    </li>
  </ul>
</nav>
