<footer class="footer">
  <div class="container">
    <a href="#">
      <div class="footer-logo-container">
        <img
          class="logo-icon"
          src="./img/header/logo_icon.svg"
          alt="logo icon"
        />
        <img
          class="logo-text"
          src="./img/header/logo_txt .svg"
          alt="logo text"
        />
      </div>
    </a>

    <nav class="footer-nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#about-us" class="nav-link">About us</a>
        </li>
        <li class="nav-item">
          <a href="#partnership" class="nav-link">Partnership</a>
        </li>
        <li class="nav-item">
          <a href="#product" class="nav-link">Products</a>
        </li>
        <li class="nav-item">
          <a href="#career" class="nav-link">Career</a>
        </li>
        <li class="nav-item">
          <a href="#demo" class="nav-link">Demo</a>
        </li>
        <li class="nav-item">
          <a href="#contactUs" class="nav-link">Contact Us</a>
        </li>
        <li class="nav-item">
          <a href="#investments" class="nav-link">Invest</a>
        </li>
      </ul>
    </nav>

    <div class="footer-socials">
      <h3 class="socials-title">Our social media:</h3>
      <ul class="socials-list">
        <li class="socials-item">
          <a href="#" class="socials-link">
            <img
              class="socials-icon"
              src="./img/socials/linkedin.svg"
              alt="linkedin"
            />
          </a>
        </li>
        <li class="socials-item">
          <a href="#" class="socials-link">
            <img
              class="socials-icon"
              src="./img/socials/youtube.svg"
              alt="youtube"
            />
          </a>
        </li>
      </ul>
    </div>

    <div class="subscribe">
      <p class="subscribe-text">
        Leave your email below - we'll get in touch and explore how you can
        become part of Sayorama's journey:
      </p>
      <div class="input-wrapper">
        <input
          class="subscribe-input"
          type="email"
          placeholder="name@gmail.com"
        />
      </div>
    </div>
  </div>
  <p class="copyright">© Sayorama LCC, 2025</p>
</footer>
