<section id="hero" class="hero">
  <div class="hero-container container">
    <h1 class="hero-title">
      <span class="hero-title__first">We are</span>
      <span class="hero-title__second">creating the</span>
      <span class="hero-title__first">future</span>
      <span class="hero-title__second">of buisiness</span>
      <span class="hero-title__first">communications</span>
    </h1>
    <p class="hero-text">
      It is currently in closed beta testing. Want to learn more or invest?
    </p>
    <a href="#">
      <div class="app-link">
        <span class="app-link__text">Get in touch</span>
        <img
          class="app-link__icon"
          src="../img/hero/Ads-click.svg"
          alt="arrow_pointer"
        />
      </div>
    </a>
    <ul class="hero-socials">
      <li class="socials-item">
        <a href="#" class="socials-link">
          <img
            class="socials-icon"
            src="../img/socials/linkedin.svg"
            alt="linkedin"
          />
        </a>
      </li>
      <li class="socials-item">
        <a href="#" class="socials-link">
          <img
            class="socials-icon"
            src="../img/socials/youtube.svg"
            alt="youtube"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
