<section id="investments" class="investments">
  <h2 class="section-title">Why Invest in Us?</h2>
  <div class="investments-container container">
    <p class="intro">
      Join us in building the future of business communication. With SayHub,
      you're not just investing in tech - you're investing in a vision that
      empowers small businesses to grow, connect, and succeed.
    </p>
    <ul class="benefits-list">
      <li class="benefits-list-item">
        <img
          class="benefits-list-item__img"
          src="./img/investments/numb1.svg"
          alt="number one"
        />
        <h3 class="benefits-list-item__title">
          Scalable & Flexible <br />
          Business Model
        </h3>
        <p class="benefits-list-item__description">
          Our model is based on subscriptions with optional premium features.
          Thanks to its modular structure, the product can be scaled across
          industries and can be customized for different needs - from small
          local shops to medium-size service providers
        </p>
      </li>
      <li class="benefits-list-item">
        <img
          class="benefits-list-item__img"
          src="./img/investments/numb2.svg"
          alt="number two"
        />
        <h3 class="benefits-list-item__title">A Growing Market</h3>
        <p class="benefits-list-item__description">
          The demand for secure corporate communication and integrated business
          tools for small businesses is expanding every year. We target a niche
          where big players are too expensive, while cheaper solutions lack
          reliability
        </p>
      </li>
      <li class="benefits-list-item">
        <img
          class="benefits-list-item__img"
          src="./img/investments/numb3.svg"
          alt="number three"
        />
        <h3 class="benefits-list-item__title">Unique Value Proposition</h3>
        <p class="benefits-list-item__description">
          SayHub combines data security, full control for business owners, and
          integration of essential tools (calendar, task management, AI
          assistant). It's not just another messenger - it's a complete business
          ecosystem
        </p>
      </li>
    </ul>
  </div>
</section>
