<section id="investments" class="investments">
  <div class="investments-container container">
    <h2 class="investments-title">Why Invest in Us?</h2>
    <p>
      Join us in building the future of business communication. With SayHub,
      you're not just investing in tech - you're investing in a vision that
      empowers small businesses to grow, connect, and succeed.
    </p>
    <ul>
      <li>
        <h3>Scalable & Flexible Business Model</h3>
        <p>
          Our model is based on subscriptions with optional premium features.
          Thanks to its modular structure, the product can be scaled across
          industries and can be customized for different needs - from small
          local shops to medium-size service providers
        </p>
      </li>
      <li>
        <h3>A Growing Market</h3>
        <p>
          The demand for secure corporate communication and integrated business
          tools for small businesses is expanding every year. We target a niche
          where big players are too expensive, while cheaper solutions lack
          reliability
        </p>
      </li>
      <li>
        <h3>Unique Value Proposition</h3>
        <p>
          SayHub combines data security, full control for business owners, and
          integration of essential tools (calendar, task management, AI
          assistant). It's not just another messenger - it's a complete business
          ecosystem
        </p>
      </li>
    </ul>
  </div>
</section>
