<section id="partnership" class="partnership">
  <div class="container">
    <h2 class="partnership-title">Partner Program</h2>
    <div class="content-wrapper">
      <img
        class="partnership-img"
        src="./img/partnership/partners.jpg"
        alt="partnership"
      />
      <div class="partnership-description">
        <p class="partnership-intro">
          At Sayorama, we are open to collaborations with companies and
          organizations that share our vision of innovation and growth. We
          welcome partners who provide services, expertise, or resources that
          help us move faster and build better products.
        </p>
        <h3 class="benefits-title">Benefits of Partnering with Us</h3>
        <ul class="benefits">
          <li class="benefits-item">
            <p class="benefits-description">
              <span class="highlighted">Exchange of Value</span> - we believe in
              winwin collaboration: your support helps us grow, and in return we
              create opportunities for your brand
            </p>
          </li>
          <li class="benefits-item">
            <p class="benefits-description">
              <span class="highlighted">Long-Term Relationship</span> - we aim
              to build partnerships that go beyond one-time cooperation
            </p>
          </li>
          <li class="benefits-item">
            <p class="benefits-description">
              <span class="highlighted">Shared Impact</span>Shared Impact - by
              joining forces, we contribute to shaping the future of digital
              communication together
            </p>
          </li>
        </ul>
        <p class="partnership-cta">
          Let's grow together - partner with Sayorama and be a part of digital
          changes!
        </p>
        <a href="#contactUs">
          <div class="contact-us">Contact us</div>
        </a>
      </div>
    </div>
  </div>
</section>
