<section id="product" class="product">
  <h2 class="product-title">Our Flagman Product</h2>
  <div class="product-container container">
    <div class="content-wrapper">
      <div class="product-description">
        <p>
          We proudly present
          <span class="highlighted"
            >SayHub - a secure communication platform</span
          >
          designed to protect your data and give business owners complete
          control over their information.
        </p>
        <p>
          But security is just the foundation. SayHub goes further by
          integrating essential business tools - from calendars and task
          tracking to a smart AI assistant - creating an environment where
          communication and productivity work together effortlessly.
        </p>
        <p>
          <span class="highlighted">Our mission is clear:</span> to deliver a
          secure, customizable, and multifunctional platform tailored
          specifically to the needs of small businesses, empowering them to
          thrive in a fast-changing digital world.
        </p>
      </div>
      <div class="product-img">
        <img src="../img/product/Product-desktop.png" alt="app on mobile" />
      </div>
    </div>
  </div>
</section>
