.about-container {
  padding: 120px 0;
  background-image: url('./img/about-us/bg-top.svg');
  background-repeat: no-repeat;
  background-size: 1440px 265px;
  background-position: center -7px;

  @media (min-width: 1440px) {
    background-image: url('./img/about-us/bg-top-big.svg');
    background-size: 1920px 265px;
    background-position: center -72px;
  }
}

.about-us .section-title {
  margin-bottom: 32px;

  @media (min-width: 768px) {
    margin-bottom: 48px;
  }
}

.about-intro {
  max-width: 600px;
  margin-inline: auto;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;

  @media (min-width: 768px) {
    max-width: 760px;
  }

  @media (min-width: 1024px) {
    font-size: 20px;
    max-width: 903px;
  }
}

.about-story,
.about-mission {
  margin-bottom: 16px;
  margin-inline: auto;
  font-weight: 400;
  font-size: 12px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.about-story {
  max-width: 500px;

  @media (min-width: 768px) {
    max-width: 700px;
  }

  @media (min-width: 1024px) {
    max-width: 100%;
  }
}

.about-mission {
  max-width: 600px;
  margin-bottom: 24px;

  @media (min-width: 768px) {
    max-width: 700px;
    margin-bottom: 48px;
  }

  @media (min-width: 1024px) {
    max-width: 876px;
  }
}

.team-title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

.team-list {
  max-width: 1286px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
  row-gap: 24px;
  justify-content: center;
  align-items: center;

  @media (min-width: 1440px) {
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  }
}

.role-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.role-card > .img-thumb {
  width: 140px;
  height: 132px;
  margin-bottom: 16px;
}

.team-role {
  margin-bottom: 16px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.1;
  color: var(--dark-text);
  text-align: center;
}

.role-description {
  max-width: 276px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  color: var(--dark-text);
  text-align: center;
}
