.about-container {
  padding: 120px 0;
  background-image: url('../img/about-us/bg-top.svg');
  background-repeat: no-repeat;
  background-size: 1440px 265px;
  background-position: center -7px;

  @media (min-width: 1440px) {
    background-image: url('../img/about-us/bg-top-big.svg');
    background-size: 1920px 265px;
    background-position: center -72px;
  }
}

.about-us .section-title {
  margin-bottom: 32px;

  @media (min-width: 768px) {
    margin-bottom: 48px;
  }
}

.about-intro {
  max-width: 600px;
  margin-inline: auto;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;

  @media (min-width: 768px) {
    max-width: 760px;
  }

  @media (min-width: 1024px) {
    font-size: 20px;
    max-width: 903px;
  }
}

.about-story,
.about-mission {
  margin-bottom: 16px;
  margin-inline: auto;
  font-weight: 400;
  font-size: 12px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.about-story {
  max-width: 500px;

  @media (min-width: 768px) {
    max-width: 700px;
  }

  @media (min-width: 1024px) {
    max-width: 100%;
  }
}

.about-mission {
  max-width: 600px;
  margin-bottom: 24px;

  @media (min-width: 768px) {
    max-width: 700px;
    margin-bottom: 48px;
  }

  @media (min-width: 1024px) {
    max-width: 876px;
  }
}

.team-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;

  @media (min-width: 1024px) {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 600;
  }
}

.team-list {
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  justify-content: center;
  align-items: center;

  @media (max-width: 767px) {
    max-width: 550px;
  }

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: 1400px) {
    max-width: 1286px;
  }
}

.role-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.role-card.revealed {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 2s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.role-card > .img-thumb {
  width: 105px;
  height: 99px;
  margin-bottom: 16px;

  @media (min-width: 1024px) {
    width: 140px;
    height: 132px;
  }
}

.team-role {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  text-align: center;

  @media (min-width: 1024px) {
    font-size: 16px;
  }
}

.role-description {
  max-width: 150px;
  font-weight: 400;
  font-size: 12px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 12px;
    max-width: 190px;
  }

  @media (min-width: 1024px) {
    max-width: 330px;
    font-size: 16px;
  }
}

.more-btn {
  margin-inline: auto;
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background-color: transparent;

  @media (min-width: 768px) {
    display: none;
  }
}

.more-btn__text {
  font-weight: 500;
  font-size: 12px;
}
