.about-container {
  padding: 120px 0;
  background-image: url('../img/about-us/bg-top.svg');
  background-repeat: no-repeat;
  background-size: 1440px 265px;
  background-position: center -8px;
}

.about-title {
  margin-bottom: 48px;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.1;
  text-align: center;
  color: var(--dark-text);
}

.about-intro {
  max-width: 903px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  color: var(--dark-text);
}

.about-story,
.about-mission {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  color: var(--dark-text);
}

.about-mission {
  max-width: 876px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.team-title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.1;
  text-align: center;
  color: var(--dark-text);
}

.team-list {
  max-width: 1096px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(276px, 1fr));
  row-gap: 24px;
  justify-content: center;
  align-items: center;
}

.role-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.role-card > .img-thumb {
  width: 140px;
  height: 132px;
  margin-bottom: 16px;
}

.team-role {
  margin-bottom: 16px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.1;
  color: var(--dark-text);
  text-align: center;
}

.role-description {
  max-width: 276px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  color: var(--dark-text);
  text-align: center;
}
