.career {
  .container {
    padding-bottom: 64px;

    @media (min-width: 768px) {
      padding-bottom: 80px;
    }
  }

  .section-title {
    margin-bottom: 24px;

    @media (min-width: 768px) {
      margin-bottom: 32px;
    }
  }
}

.careers-intro {
  margin-bottom: 24px;
  @media (min-width: 768px) {
    max-width: 864px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: 1024px) {
    max-width: 966px;
  }

  @media (min-width: 1440px) {
    max-width: 1250px;
  }

  .careers-intro__mission {
    margin-bottom: 24px;

    font-weight: 500;
    font-size: 16px;

    @media (min-width: 768px) {
      font-size: 20px;
      max-width: 399px;
      width: 46.18%;
    }

    @media (min-width: 1440px) {
      max-width: 563px;
      width: 42.88%;
    }
  }

  .careers-intro__audience {
    font-size: 12px;
    font-weight: 400;

    @media (min-width: 768px) {
      width: 49.42%;
      max-width: 427px;
      font-size: 16px;
    }

    @media (min-width: 1440px) {
      max-width: 553px;
      width: 44.24%;
    }
  }
}

.vacancy-title {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 24px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 32px;
  }
}

.careers-container {
  @media (min-width: 768px) {
    max-width: 864px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    height: 400px;
  }

  @media (min-width: 1024px) {
    max-width: 1180px;
  }

  @media (min-width: 1440px) {
    max-width: 1250px;
  }
}

.vacancy-list {
  display: flex;
  width: 100%;
  column-gap: 16px;
  overflow-x: auto;
  scrollbar-width: none;
  margin-bottom: 32px;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 768px) {
    flex-direction: column;
    row-gap: 8px;
    width: 42.592%;
    max-width: 368px;
    height: 100%;
    overflow-y: auto;
  }
}

.vacancy-list-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  height: 119px;
  width: 282px;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 24px;
  cursor: pointer;

  @media (min-width: 768px) {
    width: 100%;
    height: 144px;
  }

  &.active {
    color: var(--light-text);
    background: linear-gradient(0deg, #5d97ec 0%, #0287df 59.13%, #045e99 100%);
    .vacancy-list-item__description {
      color: var(--light-text);
    }
  }
}

.vacancy-list-item::before {
  content: '';
  width: 100%;
  min-height: 1px;
  margin-bottom: 16px;

  background: linear-gradient(90deg, #5a92eb 0%, #fe37a3 100%);
}

.vacancy-list-item__title {
  padding-left: 16px;
  margin-bottom: 24px;

  font-weight: 500;
  font-size: 16px;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.vacancy-list-item__description {
  padding-left: 16px;

  font-weight: 400;
  font-size: 12px;
  color: var(--muted-text-and-element);

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.vacancy-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 768px) {
    width: 54.935%;
    max-width: 466px;
  }

  @media (min-width: 1024px) {
    max-width: 759px;
  }

  @media (min-width: 1440px) {
    width: 64.322%;
  }
}

.vacancy-content {
  display: none;
  animation: fadeIn 0.3s ease;
}

.vacancy-content.active {
  display: block;
  position: relative;
  padding: 8px 16px;
}

.vacancy-content.active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(0deg, #5a92eb 0%, #fe37a3 100%);
}

.vacancy-content__description {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.requirements {
  display: flex;
  column-gap: 8px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.invitation {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;

  @media (min-width: 768px) {
    margin-top: auto;
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
  }
}

.invitation__text {
  font-size: 16px;
  font-weight: 500;
  text-align: center;

  @media (min-width: 768px) {
    flex-basis: 541px;
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
  }
}

.invitation__link {
  flex-shrink: 0;
  width: 40px;
  height: 37px;
  @media (min-width: 768px) {
    width: 48px;
    height: 45px;
  }
}
