.demo .container {
  padding: 64px 0;

  @media (min-width: 768px) {
    padding: 80px;
  }

  @media (min-width: 1200px) {
    padding: 120px;
  }
}

.demo .content-wrapper {
  width: 100%;
  aspect-ratio: 0.5;
  padding-top: 6.1%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url('../img/demo/Decor-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  @media (min-width: 768px) {
    max-width: 1116px;
    width: 96.9%;
    aspect-ratio: 1.635;
    padding-top: 8.3%;
    padding-bottom: 5.7%;

    flex-direction: row;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;

    background-image: url('../img/demo/Decor.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }

  @media (min-width: 1440px) {
    padding-top: 100px;
    padding-bottom: 68px;
  }

  .play-btn-wrapper {
    width: 21.025%;
    height: 8.47%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
      width: 14.6%;
      height: 24.1%;
      margin-right: 8%;
      margin-left: 3.5%;
      margin-top: 7%;
    }
  }
}

.play-btn {
  width: 39.3%;
  aspect-ratio: 1;

  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  .icon {
    width: 100%;
    height: 100%;
  }
}

.text {
  margin-top: 6px;
  max-width: 121px;
  font-weight: 500;
  font-size: clamp(12px, 3.1vw, 16px);
  text-align: center;

  @media (min-width: 768px) {
    margin-top: 12px;
    max-width: none;
    font-size: clamp(12px, 1.5vw, 24px);
  }
}

.player-wrapper {
  margin-top: 10%;
  width: 79.4%;
  height: 80.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;

  @media (min-width: 768px) {
    margin-top: 0;
    width: 66.1%;
    height: 100%;
  }
}

.video-placeholder {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .logo-icon {
    width: 36.5%;
    height: 7.5%;

    @media (min-width: 768px) {
      width: 38.753%;
      height: 22.307%;
    }

    @media (min-width: 1440px) {
      width: 286px;
      height: 116px;
    }
  }
}

.video-placeholder.visibility-hidden {
  opacity: 0;
  transition: opacity 4s ease;
}

.video-player {
  width: 100%;
  aspect-ratio: 1.638;
  height: auto;

  @media (min-width: 768px) {
    height: 100%;
    width: 100%;
  }
}
