.floating-nav {
  display: none;

  @media (min-width: 768px) {
    width: 584px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 50%;
    overflow: hidden;
    pointer-events: none;
    transition: transform 0.45s ease;
    z-index: 1000;

    border: 1px solid var(--button-border);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 0 rgba(124, 124, 124, 0.25);

    &.floating-nav:hover {
      transition: transform 0.45s cubic-bezier(0.34, 1.56, 0.64, 1);
      transform: translate(-50%, 0) scale(1.03);
    }
  }

  @media (min-width: 1024px) {
    width: 656px;
  }

  .nav-list {
    display: flex;
    z-index: 3;
    gap: 24px;

    @media (min-width: 1024px) {
      gap: 32px;
    }
    .nav-item {
      padding: 0.4rem 0.6rem;
      border-radius: 0.8rem;
      transition: all 0.1s ease-in;

      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
        box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2px);
      }

      &:hover .nav-link {
        color: var(--clr-accent);
      }
    }
  }
}

.liquidGlass-effect {
  position: absolute;
  z-index: 0;
  inset: 0;

  backdrop-filter: blur(3px);
  filter: url(#glass-distortion);
  overflow: hidden;
  isolation: isolate;
}

.liquidGlass-tint {
  z-index: 1;
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.25);
}

.floating-nav.visible {
  transform: translate(-50%, 10%);
  opacity: 1;
  pointer-events: auto;
}

.liquidGlass-shine {
  position: absolute;
  inset: 0;
  z-index: 2;

  overflow: hidden;

  box-shadow:
    inset 2px 2px 1px 0 rgba(255, 255, 255, 0.5),
    inset -1px -1px 1px 1px rgba(255, 255, 255, 0.5);
}

.floating-nav.hidden {
  transform: translate(-50%, -100%);
  pointer-events: none;
}
