.footer {
  background: var(--button-border);
  padding-top: 48px;

  @media (min-width: 1024px) {
    padding-top: 56px;
  }
}

.footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: 1024px) {
    flex-wrap: nowrap;
  }
}

.footer-logo-container {
  width: 137px;
  height: 42px;
  display: flex;
  align-items: center;
  gap: 6px;
  align-self: flex-start;

  @media (min-width: 1024px) and (max-width: 1199px) {
    width: 56px;
  }
}

.footer .logo-icon {
  width: 42px;
  height: 42px;
  @media (min-width: 1024px) and (max-width: 1199px) {
    width: 56px;
    height: 56px;
  }
}

.footer .logo-text {
  display: block;
  width: 89px;
  height: 15px;

  @media (min-width: 1024px) and (max-width: 1199px) {
    display: none;
  }
}

.footer-nav {
  order: -2;
  flex-grow: 1;
  flex-basis: 100%;
  margin-bottom: 56px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 1024px) {
    flex-basis: auto;
    margin: 0;
    flex-grow: 0;
    order: 0;
  }
}

.footer .nav-list {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 140px;
    column-gap: 24px;
    row-gap: 24px;
  }

  @media (min-width: 1200px) {
    width: 164px;
    column-gap: 48px;
  }
}

.footer .nav-link {
  font-weight: 400;
  font-size: 10px;

  @media (min-width: 1024px) {
    font-size: 12px;
  }
}

.socials-title {
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 12px;
  text-align: center;

  @media (min-width: 1024px) {
    font-size: 16px;
  }
}

.socials-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.subscribe-box {
  flex-basis: 90%;
  order: -1;
  flex-grow: 1;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 1024px) {
    flex-basis: 431px;
    margin: 0;
    order: 0;
    flex-grow: 0;
  }
}

.subscribe-text {
  max-width: 431px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;

  font-weight: 500;
  font-size: 12px;

  @media (min-width: 768px) {
    margin-bottom: 16px;
    font-size: 16px;
  }

  @media (min-width: 1024px) {
    margin: 0 0 16px 0;
  }
}

.subscribe-form {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  flex-wrap: nowrap;

  .input-wrapper {
    flex-basis: 352px;
    height: 35px;
  }
}

.subscribe-input {
  width: 100%;
  height: 100%;
  padding: 12px 8px;

  border-radius: 6px;
  border: 1px solid var(--button-border);
  background: var(--background);

  &::placeholder {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.1;
    color: var(--muted-text-and-element);
  }

  @media (min-width: 768px) {
    height: 48px;
    padding: 12px 8px;
    &::placeholder {
      font-size: 12px;
    }
  }
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 58px;
  height: 35px;
  padding: 8px 12px;

  border-radius: 6px;
  border: 1px solid var(--blur-color);
  background: var(--button-border);

  &:active {
    color: var(--clr-acccent);
    border: 2px solid var(--button-border);
    border-radius: 8px;
    background-color: var(--background);
    box-shadow: inset 4px 4px 4px 0 rgba(81, 81, 81, 0.35);
  }

  @media (min-width: 768px) {
    width: 71px;
    height: 46px;
    padding: 12px 16px;
  }
}

.copyright {
  margin-top: 32px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  text-align: center;
  color: var(--muted-text-and-element);
}
