.header {
  padding: 24px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  width: 56px;

  @media screen and (min-width: 1024px) {
    width: 184px;
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.logo-text {
  display: none;

  @media screen and (min-width: 1024px) {
    display: block;
    width: 120px;
    height: 20px;
  }
}

.nav {
  flex-basis: 535px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.1;
  &:hover,
  &:focus {
    color: #0287df;
  }
}

.contact-us-ref {
  font-weight: 500;
  font-size: 16px;
  color: var(--light-text);

  width: 116px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
  background: linear-gradient(0deg, #5d97ec 0%, #0287df 59.13%, #045e99 100%);

  &:active {
    border: 2px solid var(--button-border);
  }
}
