.partnership {
  .container {
    padding: 64px 0;
    max-width: 510px;

    @media (min-width: 850px) {
      max-width: 100%;
      padding: 80px 7.13% 80px 0;
    }

    @media (min-width: 1200px) {
      padding: 120px 9.03% 120px 0;
    }

    @media (min-width: 1500px) {
      padding-right: 9.375%;
    }
  }

  .section-title {
    margin-bottom: 32px;

    @media (min-width: 1200px) {
      margin-bottom: 48px;
    }
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    @media (min-width: 850px) {
      align-items: center;
      flex-direction: row;
      column-gap: 18px;
    }

    @media (min-width: 1200px) {
      column-gap: 90px;
    }
  }
}

.img-wrapper {
  width: 100%;
  max-width: 510px;
  height: 483px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  @media (min-width: 850px) {
    max-width: none;
    margin: 0;
    flex-basis: 42.969%;
    flex-grow: 1;
    height: 598px;
  }

  @media (min-width: 1500px) {
    max-width: 849px;
    height: 783px;
  }
}

.partnership-img {
  width: 510px;
  height: 483px;
  object-fit: cover;

  @media (min-width: 850px) {
    width: 630px;
    height: 598px;
  }

  @media (min-width: 1500px) {
    width: 826px;
    height: 783px;
  }
}

.text-wrapper {
  padding: 0 16px;

  @media (min-width: 850px) {
    height: 598px;
    display: flex;
    flex-direction: column;
    padding: 0;
    flex-basis: 47.461%;
    flex-grow: 1;
  }

  @media (min-width: 1500px) {
    height: 783px;
  }
}

.partnership-intro {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 32px;

  @media (min-width: 850px) {
    font-size: 20px;
    margin-bottom: 40px;
  }
}

.benefits-title {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 12px;
  text-align: center;

  @media (min-width: 850px) {
    font-size: 16px;
  }
}

.benefits {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;

  @media (min-width: 850px) {
    max-width: 560px;
    margin-bottom: auto;
  }
}

.benefits-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.benefits-description {
  font-weight: 400;
  font-size: 12px;

  @media (min-width: 768px) {
    font-size: 16px;
    flex-basis: 486px;
  }

  .highlighted {
    font-weight: 500;
  }
}

.benefits-item::before {
  content: '';
  display: block;
  flex-shrink: 0;

  background-image: url('../img/partnership/Send.svg');
  background-size: cover;
  background-repeat: no-repeat;

  width: 28px;
  height: 26px;

  @media (min-width: 768px) {
    width: 40px;
    height: 37px;
  }
}

.partnership-cta {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 18px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 24px;
    max-width: 588px;
    margin: 0 auto 16px;
  }
}

.contact-us {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 118px;
  height: 41px;

  font-weight: 500;
  font-size: 18px;
  color: var(--light-text);
  margin-left: auto;
  margin-right: auto;

  border-radius: 8px;
  background: linear-gradient(0deg, #5d97ec 0%, #0287df 59.13%, #045e99 100%);

  @media (min-width: 768px) {
    width: 157px;
    height: 57px;
    font-size: 24px;
  }

  &:active {
    border: 2px solid var(--button-border);
  }
}
