.product {
  padding-bottom: 32px;

  @media (min-width: 768px) {
    padding-bottom: 80px;
  }

  @media (min-width: 1024px) {
    padding-bottom: 120px;
  }
}

.product .section-title {
  margin-bottom: 32px;

  @media (min-width: 1024px) {
    margin-bottom: 42px;
  }
}

.product .container {
  padding-right: 0;
  padding-left: 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: 768px) {
    padding-left: 80px;
    flex-direction: row;
  }

  @media (min-width: 1024px) {
    padding-left: 130px;
  }

  @media (min-width: 1440px) {
    gap: 80px;
  }
}

.product-description {
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 13px;

  font-weight: 400;
  font-size: 12px;

  @media (min-width: 768px) {
    padding: 0;
    flex-basis: 36.5%;
    flex-shrink: 0;
    font-size: 16px;
    row-gap: 18px;
  }

  @media (min-width: 1024px) {
    flex-basis: 40.92%;
  }

  .highlighted {
    font-weight: 500;
    color: var(--clr-accent);

    @media (min-width: 768px) {
      color: var(--dark-text);
    }
  }
}

.product-img {
  order: -1;
  flex-basis: 100%;
  flex-shrink: 1;

  @media (min-width: 768px) {
    order: 0;
    flex-basis: 70.5%;
    flex-shrink: 0;
  }

  @media (min-width: 1024px) {
    flex-basis: 59.8%;
    max-width: 786px;
  }
}
